<section class="focus-sector pt-5 pb-5">
    <div class="container">

        <!-- <div class="small-border" style="background:white;margin:0"></div> -->
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
                <div class="title text-center">
                    <h2>Department</h2>

                </div>
            </div>
        </div>
        <div class="home-community-board__grid-wrapper">

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                        routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;Physics</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">Biology</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">Chemistry</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">
                        <a routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;Biotechnology</a>
                    </p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;CMLT/DMLT</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;Statistics</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active" class="btn-link">Mathematics</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;Electronics</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;Computer Science</a></p>
                </div>
            </div>



            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;BioChemistry</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;MicroBiology</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;English</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;Physical Education</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;Lib. Science</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;Office</a></p>
                </div>
            </div>
            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/anpatel/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                           routerLink="/department/physics" routerLinkActive="active"
                            class="btn-link">&nbsp;&nbsp;Industrial Chemistry</a></p>
                </div>
            </div>
        </div>



    </div>

</section>
