<app-header></app-header>
<!-- Team Section Start -->
<div id="rs-team" class="rs-team style1 orange-color pt-94 pb-100 md-pt-64 md-pb-70 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/1.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                Dr. Ravindrapal Joshi</a></h4>
                        <span class="designation">I / C Principal</span>
                        <ul class="social-links">
                            <li>Joining Date: 05/9/1986</li>
                            <li>Qualification: M.Sc., Ph.D.</li>
                            <li>Contact No: 9426543923</li>
                            <li>Email ID: mbpatel@cesociety.in</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/2.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                Jaydip Gothi</a></h4>
                        <span class="designation">Associate Professor And Head</span>
                        <ul class="social-links">
                            <li>Joining Date: 14/9/1989</li>
                            <li>Qualification: M.Sc., M.Phil.</li>
                            <li>Email ID: jaydipgothi@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/3.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                R. S. Avte</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date: 05/9/1986</li>
                            <li>Joining Date : 03/2/1992</li>
                            <li>Qualification : M.Sc., M.Phil.</li>
                            <li>Email ID : raju_avte@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/4.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                Dr. J. S. Luhar</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 17/9/1994</li>
                            <li>Qualification : M.Sc., M.Phil, Ph.D</li>
                            <li>Email ID : jayeshluhar@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/5.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                N. J. Vyas</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 02/1/1995</li>
                            <li>Qualification : M.Sc., M.Phil</li>
                            <li>Email ID : neenavyas31@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/6.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                P. M. Dave</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 02/1/1995</li>
                            <li>Qualification : M.Sc., M.Phil.</li>
                            <li>Email ID : pmdaveavroad@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/7.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                H. G. Mehta</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 08/10/2004</li>
                            <li>Qualification : M.Sc</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/8.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                                B. S. Darji</a></h4>
                        <span class="designation">Part-time Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 08/10/1992</li>
                            <li>Qualification	:	 M.Sc., M.Phil.</li>
                            <li>Email ID	:	 bharatdarji2001@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/9.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">Dr. Bharat Patel</a></h4>
                        <span class="designation">Assistant Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 14/8/2014</li>
                            <li>Qualification	:	 M.Sc., M.Phil., Ph.D.</li>
                            <li>Email ID	:	 fbdpatel@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/10.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">Jayesh Gosai</a></h4>
                        <span class="designation">Adhoc Assistant Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 06/8/2009</li>
                            <li>Qualification	:	 M.Sc</li>
                            <li>Email ID	:	 nilkanthvideo.jigo@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/11.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            K. C. Vaghela</a></h4>
                        <span class="designation">Adhoc Assistant Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 01/7/2016</li>
                            <li>Qualification	:	 M.Sc., M.Phil</li>
                            <li>Email ID	:	 kishanvaghela389@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/12.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Parth Gor</a></h4>
                        <span class="designation">Adhoc Assistant Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 22/7/2018</li>
                            <li>Qualification	:	 M.Sc</li>
                            <li>Email ID	:	 parthgor940@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/13.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Sanjay Zala </a></h4>
                        <span class="designation">Adhoc Assistant Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 15/7/2019</li>
                            <li>Qualification	:	 B.Sc., M.Sc. (Physics)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/14.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Jay Solanki </a></h4>
                        <span class="designation">Adhoc Assistant Lecturer</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 15/7/2019</li>
                            <li>Qualification	:	 B.Sc., M.Sc. (Physics)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/15.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Shruti Panchal </a></h4>
                        <span class="designation">Assistant Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 07/8/2019</li>
                            <li>Qualification	:	 M.Sc., M.Phil.(Pursuing), SLET</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/16.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            J. C. Patel </a></h4>
                        <span class="designation">Lab Assistant</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 24/11/1986</li>
                            <li>Qualification	:	 HSC</li>
                            <li>Email ID	:	 jitendraphymb@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/17.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Arunbhai Patel </a></h4>
                        <span class="designation">Lab Assistant</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 23/10/1991</li>
                            <li>Qualification	:	 SSC</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/18.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            A. P. Bhoi </a></h4>
                        <span class="designation">Peon</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 07/9/1981</li>
                            <li>Qualification	:	 9th Pass</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/mbpatel/team/19.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Sanjay Parmar </a></h4>
                        <span class="designation">Peon</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 03/7/2018</li>
                            <li>Qualification	:	 HSC</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->
<app-footer></app-footer>