<app-header></app-header>
<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <!-- Breadcrumbs End -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-overview" role="tab" aria-controls="prod-overview"
                                aria-selected="true">History</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                aria-selected="false">Facility</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                aria-selected="false">Activities</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                aria-selected="false">Scholarship</a>
                        </li>

                    </ul>
                    <!-- Content Column -->

                    <!-- Intro Info Tabs-->
                    <div class="intro-info-tabs">

                        <div class="tab-content tabs-content" id="myTabContent">


                            <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                aria-labelledby="prod-overview-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div class="row">
                                                <div class="col-lg-6 md-mb-50 mt-50">
                                                    <h4>History</h4>
                                                    <div class="bold-text mb-22">M.B.Patel Science College </div>
                                                    <div class="desc">was established in 1967 , and has total Campus
                                                        area of
                                                        28852.38 Sq. mtrs.
                                                        and the total built- up area is 7542.74 Sq.mtr. Started with
                                                        subjects Physics,
                                                        Chemistry, Maths, Biology. It is affiliated to Sardar Patel
                                                        University , Vallabh
                                                        Vidyanagar.</div>
                                                    <div class="desc">The college is recognized under section 2(f) and
                                                        12 B
                                                        of the UGC Act 1956.
                                                        The College is Reaccredited by NAAC with a CGPA of 3.02 at ‘A’
                                                        Grade
                                                        in October 2013.
                                                        The College is Accredited by KCG for ‘AAA’ with a 3.11 CGPA at
                                                        A-Grade in January 2015.
                                                    </div>
                                                    <div class="desc">The College was awarded “College with Potential
                                                        for
                                                        Excellence” status by
                                                        University Grants Commission, New Delhi in 2011and received a
                                                        grant
                                                        of One Crore under
                                                        this Scheme.</div>
                                                    <div class="desc">The College is selected “College with Potential
                                                        for
                                                        Excellence” by
                                                        University Grants Commission, New Delhi for the Second phase of
                                                        five
                                                        year from 1st April
                                                        2017 to 31st March 2022 and is sanctioned grant of Rs. One Crore
                                                        Thirty Lacks under this
                                                        Scheme.</div>
                                                    <p>In 1967 the college offered – Physics, Chemistry, Mathematics,
                                                        Biology
                                                        and English and as per the demand of the society, the other
                                                        subjects
                                                        were introduced :</p>
                                                </div>
                                                <div class="col-lg-2 md-mb-50 mt-50"></div>
                                                <div class="col-lg-4 md-mb-50 mt-50">

                                                    <ul style="list-style-type: disc; margin-left: 9px;">
                                                        <li>1979 – Statistics</li>
                                                        <li>1980 – Microbiology</li>
                                                        <li>1981 – Biochemistry</li>
                                                        <li>1985 – Electronics & Computer Science</li>
                                                        <li>2000 – BCA & DMLT</li>
                                                        <li>2004 – Biotechnology (SF)</li>
                                                        <li>2005 – M.Sc. (Organic Chemistry)</li>
                                                        <li>2006 – M.Sc. (Microbiology)</li>
                                                        <li>2008 – M.Sc. (Biotechnology)</li>
                                                        <li>2008 – M.Sc. (Medical Laboratory Technology)</li>
                                                        <li>2009 – Ph.D. Center in Chemistry</li>
                                                        <li>2010 – Ph.D. Center in Biochemistry in Food & Nutrition.
                                                        </li>
                                                        <li>2018 – Zoology, Botany & Industrial Chemistry</li>
                                                    </ul>
                                                    <p>For administrative convenience all the P.G. courses were
                                                        separated
                                                        from
                                                        M.B.Patel Science College and started functioning under a
                                                        separate
                                                        P.G.Institute namely Shri A.N.Patel P.G.Institute for Science
                                                        and
                                                        Research in 2010. The BCA course was also shifted from M.B.Patel
                                                        Science
                                                        College and started under a separate Institute namely Shri
                                                        D.N.Institute
                                                        of Computer Applications in 2012.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-lab" role="tabpanel" aria-labelledby="prod-lab-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div class="row">
                                                <h4>Facilities</h4>
                                                <div class="bold-text mb-22">Large Green & Clean campus with proximity
                                                    to public transports-(State Transport & Railways) </div>
                                                <div class="col-lg-5 md-mb-50 mt-50">

                                                    <ul style="list-style-type: disc;">
                                                        <li>Smart and ICT enabled Classrooms and ICT enabled well
                                                            equipped Laboratories</li>
                                                        <li>Library with sufficient books and reading space with
                                                            computers and Wi- Fi</li>
                                                        <li>Large ground with Sport facilities</li>
                                                        <li>Large Canteen serving hygienic food</li>
                                                        <li>In campus Ladies hostel with 24 X 7 X 365 security</li>
                                                        <li>Campus Security 24 X 7 X 365</li>
                                                        <li>CCTV Surveillance Throughout campus</li>
                                                        <li>Scholarship procurement support for deserving Student</li>
                                                        <li>Student concession form Processing for State Transport and
                                                            Railway</li>
                                                        <li>Financial aid for deserving students from the Student Aid
                                                            fund & Alumni Association of the Sardar Patel University
                                                        </li>
                                                        <li>Collegiate Women Development cell (CWDC) for women's issues
                                                            and Redressal</li>
                                                        <li>Anti - Ragging, Grievance & Redressal Cell</li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-2 md-mb-50 mt-50"></div>
                                                <div class="col-lg-5 md-mb-50 mt-50">

                                                    <ul style="list-style-type: disc;">
                                                        <li>NCC & NSS programs</li>
                                                        <li>Sports Training</li>
                                                        <li>SCOPE, DELL and Finishing School programs for skill
                                                            enhancement</li>
                                                        <li>Training for Cultural Activities</li>
                                                        <li>Campus Interviews Organized by Placement cell for Direct
                                                            Employment Opportunity</li>
                                                        <li>Aqua Guard Purifier installed for Clean drinking water</li>
                                                        <li>Toilets on each floor</li>
                                                        <li>On demand facilities for differently abled Students</li>
                                                        <li>Botanical Garden</li>
                                                        <li>Xerox facilities (Reprography)</li>
                                                        <li>Parking facilities</li>
                                                        <li>Free Wi-Fi</li>
                                                        <li>Sanitary pad wending machine with incinerator</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-semi" role="tabpanel" aria-labelledby="prod-semi-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div class="row">
                                                <div class="col-lg-12 md-mb-50 mt-50">

                                                    <h2 class="title mb-17">Activities:</h2>
                                                    <div class="bold-text mb-22">The College is authorized centre for
                                                        SCOPE and DELL, initiatives of
                                                        Government of Gujarat Since 2008, The College is also recognized
                                                        as a Exam Centre for same.
                                                        Every year more than one thousand students appear for SCOPE ‘A’
                                                        and ‘B’ Level Exams.</div>
                                                        <ul style="list-style-type: disc; margin-left: 9px;">
                                                            <li>The College has Boys NCC Unit which is affiliated with 4 Gujarat Battalion NCC,Vallabh
                                                                Vidyanagar Group, Gujarat.</li>
                                                            <li>The College has Girls NCC Unit and is affiliated with 4 Gujarat Girls Battalion,Vallabh
                                                                Vidyanagar Group, Gujarat.</li>
                                                            <li>The College has NSS Unit. The NSS Unit carries out a number of activities in the College
                                                                like Tree plantation, Blood Donation Camp, “Swatchta Abhiyan” etc. Every year the NSS
                                                                Unit organizes Annual Camp of Seven days at near by Village and carry out a number of
                                                                activities like Gram Survey, Medical Check up Camps and Community Awareness programs in
                                                                the Village.</li>
                                                            <li>The students of the College participate in Inter College University Sports Events. The
                                                                Students of the College are selected in Sardar Patel University Team in Various Sports.
                                                            </li>
                                                            <li>In 2014 the Girls Table-Tennis and Volley ball Team became champions at University level
                                                                and the Boys Hand ball Team became Runners Up at University level .</li>
                                                            <li>In 2015 the Girls Table-Tennis and Volley ball Team became champions at University level
                                                                and the Boys Cricket Team became Runners Up at University level .</li>
                                                            <li>In 2016 Boys Kabaddi Team became Runners Up at University level.</li>
                                                            <li>In 2017 Kishan Ankoliya student of the college was selected as the Captain of the Sardar
                                                                Patel University Cricket Team.</li>
                                                            <li>The Students of the College also participate in the cultural activities organized by the
                                                                College and Youth Festival organized by the University and win prizes at the Youth
                                                                Festival.</li>
                                                            <li>In 2015 students of the college were selected to represent Sardar Patel University at
                                                                the 31st Inter University Yuvi West Fest West Zone organized by Association of Indian
                                                                Universities.</li>
                                                            <li>In 2017 students of the college participated in the National Competition in Dance and
                                                                Drama held at Solan,Himachal Pradesh Abhinay-2017 and they achieved First Position in
                                                                One Act Play, over All Best Performance, Best Director, Best Actor and Best Lighting.
                                                            </li>
                                                            <li>The College arranges Study Tours every year to give the students practical exposure.
                                                            </li>
                                                            <li>The College arranges Campus Interviews for the Final year students.</li>
                                                            <li>The Departments of the College every year arrange Guest lectures by experts from
                                                                Industry/Institutions/PG departments for Staff & Students.</li>
                                                            <li>The College felicitates the Students who excel in academics, sports,NCC & NSS .The
                                                                Annual day celebrations by giving the trophies & Medals and certificate of appreciation.
                                                            </li>
                                                            <li>The College felicitates the Staff members who publish research papers, books and are
                                                                awarded Ph.D. degree at the Annual Day celebrations by giving them Medals and
                                                                certificate of appreciation.</li>
                                                            <li>The College gives a cash prize of Rs.2500/- to the Department whose students awarded
                                                                Gold Medal at University Examination.</li>
                                                        </ul>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="prod-com" role="tabpanel" aria-labelledby="prod-com-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div id="rs-about" class="rs-about style1 pb-100 md-pb-70">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-4 order-last">
                                                            <div class="notice-bord style1" style="margin-top: 0px;">
                                                                <h4 class="title">FEES STRUCTURE-2020-21</h4>
                                                                <div class="tab1" style="overflow-x:auto;">
                                                                    <table>
                                                                        <tr>
                                                                            <th>CLASS</th>
                                                                            <th>Gender</th>
                                                                            <th>FIRST TERM</th>
                                                                            <th>SECOND TERM</th>
                                                                            <th>TOTAL</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">F.Y.B.Sc</td>
                                                                            <td>BOYS </td>
                                                                            <td>5000</td>
                                                                            <td>1850</td>
                                                                            <td>6850</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>4400</td>
                                                                            <td>1250</td>
                                                                            <td>5650</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">S.Y.B.Sc</td>
                                                                            <td>BOYS </td>
                                                                            <td>4350</td>
                                                                            <td>1850</td>
                                                                            <td>6200</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>3750</td>
                                                                            <td>1250</td>
                                                                            <td>5000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">S.Y.B.Sc.
                                                                                Comp.Sci./Maths</td>
                                                                            <td>BOYS </td>
                                                                            <td>6350</td>
                                                                            <td>1850</td>
                                                                            <td>8200</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>5750</td>
                                                                            <td>1250</td>
                                                                            <td>7000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5" style="text-align: center;">S.Y.B.Sc.,T.Y.B.Sc. Botany/Zoology & Ind.Che (SELF-FINANCE)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">S.Y./T.Y.B.Sc</td>
                                                                            <td>BOYS </td>
                                                                            <td>5000</td>
                                                                            <td>5000</td>
                                                                            <td>10000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>5000</td>
                                                                            <td>5000</td>
                                                                            <td>10000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">T.Y.B.Sc.</td>
                                                                            <td>BOYS </td>
                                                                            <td>4350</td>
                                                                            <td>1850</td>
                                                                            <td>6200</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>3750</td>
                                                                            <td>1250</td>
                                                                            <td>5000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">T.Y.B.Sc.
                                                                                Comp.Sci./Maths</td>
                                                                            <td>BOYS </td>
                                                                            <td>6350</td>
                                                                            <td>1850</td>
                                                                            <td>8200</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>5750</td>
                                                                            <td>1250</td>
                                                                            <td>7000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5" style="text-align: center;">F.Y.B.Sc. ( SELF-FINANCE)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">F.Y.B.Sc.</td>
                                                                            <td>BOYS </td>
                                                                            <td>10,000</td>
                                                                            <td>10,000</td>
                                                                            <td>20,000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>10,000</td>
                                                                            <td>10,000</td>
                                                                            <td>20,000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5" style="text-align: center;">B.Sc. BIOTECHNOLOGY (SELF-FINANCE)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">S.Y.B.Sc.</td>
                                                                            <td>BOYS </td>
                                                                            <td>13000</td>
                                                                            <td>12500</td>
                                                                            <td>25500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>13000</td>
                                                                            <td>12500</td>
                                                                            <td>25500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="2">T.Y.B.Sc.</td>
                                                                            <td>BOYS </td>
                                                                            <td>13000</td>
                                                                            <td>12500</td>
                                                                            <td>25500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>GIRLS</td>
                                                                            <td>13000</td>
                                                                            <td>12500</td>
                                                                            <td>25500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5" style="text-align: center;"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>C.M.L.T</td>
                                                                            <td> </td>
                                                                            <td>7000</td>
                                                                            <td>8000</td>
                                                                            <td>15000</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>D.M.L.T</td>
                                                                            <td></td>
                                                                            <td>12000</td>
                                                                            <td>12000</td>
                                                                            <td>24000</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <style>
                                                            table {
                                                              font-family: arial, sans-serif;
                                                              border-collapse: collapse;
                                                              width: 100%;
                                                            }
                                                            
                                                            td, th {
                                                              border: 1px solid #dddddd;
                                                              text-align: left;
                                                              padding: 8px;
                                                            }
                                                            
                                                            /* tr:nth-child(even) {
                                                              background-color: #dddddd;
                                                            } */
                                                            </style>
                                                        <div class="col-lg-8 pr-50 md-pr-15">
                                                            <div class="about-part" style="margin-top: 0px;">
                                                                <div class="sec-title mb-40">
                                                                    <div class="sub-title primary wow fadeInUp" data-wow-delay="300ms"
                                                                        data-wow-duration="2000ms">SCHOLARSHIPS FOR STUDENTS</div>
                                                                    <!-- <h2 class="title wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">Located
                                                                        in an urban area of Charotar region,</h2> -->
                                                                    <div class="desc wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                                                        The College makes active efforts to avail Scholarships to the Students of SC, ST,
                                                                        OBC and Minority categories.
                                                                        The details of the Scholarships proposed for various categories is as under:</div>
                                                                        <div style="overflow-x:auto;">
                                                                    <table>
                                                                        <tr>
                                                                            <th>Sr.No</th>
                                                                            <th>Academic Year</th>
                                                                            <th>No. of scholarships proposed ST Category</th>
                                                                            <th>No. of scholarships proposed SC Category</th>
                                                                            <th>No. of scholarships proposed OBC Category</th>
                                                                            <th>No. of scholarships proposed Minority Category</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>2014-15</td>
                                                                            <td>81</td>
                                                                            <td>62</td>
                                                                            <td>211</td>
                                                                            <td>54</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>2015-16</td>
                                                                            <td>68</td>
                                                                            <td>97</td>
                                                                            <td>229</td>
                                                                            <td>57</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>2016-17</td>
                                                                            <td>74</td>
                                                                            <td>42</td>
                                                                            <td>397</td>
                                                                            <td>41</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>4</td>
                                                                            <td>2017-18</td>
                                                                            <td>56</td>
                                                                            <td>72</td>
                                                                            <td>287</td>
                                                                            <td>83</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>5</td>
                                                                            <td>2018-19</td>
                                                                            <td>55</td>
                                                                            <td>57</td>
                                                                            <td>310</td>
                                                                            <td>67</td>
                                                                        </tr>
                                                                    </table>
                                                                        </div>
                                                                    <hr>
                                                                    <div class="desc wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                                                                        The College also makes efforts to help the deserving students financially from
                                                                        sources other than State and Central Government. The Overseas Alumni Association of
                                                                        Sardar Patel University in USA has raised a Fund to help the deserving students of
                                                                        the affiliated colleges by paying their entire Fee. The College proposes maximum
                                                                        number of applications for this scheme so that maximum number of scholarships are
                                                                        received under the Scheme to help the deserving students.</div>
                                                                </div>
                                                                <!-- <div class="sign-part wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms">
                                                                    <div class="img-part">
                                                                        <img src="assets/images/about/ceo.png" alt="CEO Image">
                                                                    </div>
                                                                    <div class="author-part">
                                                                        <span class="sign mb-10"><img src="assets/images/about/sign.png" alt="Sign"></span>
                                                                        <span class="post">CEO & Founder of Educavo</span>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Video Column -->
                    <!-- <div class="video-column col-lg-4">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Infrastructure:</h5>
                                <ul class="nav" id="myTab" role="tablist" style="display:unset">
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab"
                                            href="#" data-bs-target="#prod-overview" role="tab"
                                            aria-controls="prod-overview" aria-selected="true">History</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                            aria-selected="false">Facility</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                            aria-selected="false">Activities</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                            aria-selected="false">Scholarships </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>