<app-header></app-header>
<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <!-- Breadcrumbs End -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-overview" role="tab" aria-controls="prod-overview"
                                aria-selected="true">History</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                aria-selected="false">Activities</a>
                        </li>

                    </ul>
                    <div class="intro-info-tabs">

                        <div class="tab-content tabs-content" id="myTabContent">


                            <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                aria-labelledby="prod-overview-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div class="row">
                                                <div class="col-lg-6 md-mb-50 mt-50">
                                                    <h4>History</h4>
                                                    <div class="bold-text mb-22">M.B.Patel Science College </div>
                                                    <div class="desc">was established in 1967 , and has total Campus
                                                        area of
                                                        28852.38 Sq. mtrs.
                                                        and the total built- up area is 7542.74 Sq.mtr. Started with
                                                        subjects Physics,
                                                        Chemistry, Maths, Biology. It is affiliated to Sardar Patel
                                                        University , Vallabh
                                                        Vidyanagar.</div>
                                                    <div class="desc">The college is recognized under section 2(f) and
                                                        12 B
                                                        of the UGC Act 1956.
                                                        The College is Reaccredited by NAAC with a CGPA of 3.02 at ‘A’
                                                        Grade
                                                        in October 2013.
                                                        The College is Accredited by KCG for ‘AAA’ with a 3.11 CGPA at
                                                        A-Grade in January 2015.
                                                    </div>
                                                    <div class="desc">The College was awarded “College with Potential
                                                        for
                                                        Excellence” status by
                                                        University Grants Commission, New Delhi in 2011and received a
                                                        grant
                                                        of One Crore under
                                                        this Scheme.</div>
                                                    <div class="desc">The College is selected “College with Potential
                                                        for
                                                        Excellence” by
                                                        University Grants Commission, New Delhi for the Second phase of
                                                        five
                                                        year from 1st April
                                                        2017 to 31st March 2022 and is sanctioned grant of Rs. One Crore
                                                        Thirty Lacks under this
                                                        Scheme.</div>
                                                    <p>In 1967 the college offered – Physics, Chemistry, Mathematics,
                                                        Biology
                                                        and English and as per the demand of the society, the other
                                                        subjects
                                                        were introduced :</p>
                                                </div>
                                                <div class="col-lg-2 md-mb-50 mt-50"></div>
                                                <div class="col-lg-4 md-mb-50 mt-50">

                                                    <ul style="list-style-type: disc; margin-left: 9px;">
                                                        <li>1979 – Statistics</li>
                                                        <li>1980 – Microbiology</li>
                                                        <li>1981 – Biochemistry</li>
                                                        <li>1985 – Electronics & Computer Science</li>
                                                        <li>2000 – BCA & DMLT</li>
                                                        <li>2004 – Biotechnology (SF)</li>
                                                        <li>2005 – M.Sc. (Organic Chemistry)</li>
                                                        <li>2006 – M.Sc. (Microbiology)</li>
                                                        <li>2008 – M.Sc. (Biotechnology)</li>
                                                        <li>2008 – M.Sc. (Medical Laboratory Technology)</li>
                                                        <li>2009 – Ph.D. Center in Chemistry</li>
                                                        <li>2010 – Ph.D. Center in Biochemistry in Food & Nutrition.
                                                        </li>
                                                        <li>2018 – Zoology, Botany & Industrial Chemistry</li>
                                                    </ul>
                                                    <p>For administrative convenience all the P.G. courses were
                                                        separated
                                                        from
                                                        M.B.Patel Science College and started functioning under a
                                                        separate
                                                        P.G.Institute namely Shri A.N.Patel P.G.Institute for Science
                                                        and
                                                        Research in 2010. The BCA course was also shifted from M.B.Patel
                                                        Science
                                                        College and started under a separate Institute namely Shri
                                                        D.N.Institute
                                                        of Computer Applications in 2012.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="tab-pane fade" id="prod-semi" role="tabpanel" aria-labelledby="prod-semi-tab">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box">
                                            <div class="row">
                                                <div class="col-lg-12 md-mb-50 mt-50">

                                                    <h2 class="title mb-17">Activities:</h2>
                                                    <div class="bold-text mb-22">The College is authorized centre for
                                                        SCOPE and DELL, initiatives of
                                                        Government of Gujarat Since 2008, The College is also recognized
                                                        as a Exam Centre for same.
                                                        Every year more than one thousand students appear for SCOPE ‘A’
                                                        and ‘B’ Level Exams.</div>
                                                        <ul style="list-style-type: disc; margin-left: 9px;">
                                                            <li>The College has Boys NCC Unit which is affiliated with 4 Gujarat Battalion NCC,Vallabh
                                                                Vidyanagar Group, Gujarat.</li>
                                                            <li>The College has Girls NCC Unit and is affiliated with 4 Gujarat Girls Battalion,Vallabh
                                                                Vidyanagar Group, Gujarat.</li>
                                                            <li>The College has NSS Unit. The NSS Unit carries out a number of activities in the College
                                                                like Tree plantation, Blood Donation Camp, “Swatchta Abhiyan” etc. Every year the NSS
                                                                Unit organizes Annual Camp of Seven days at near by Village and carry out a number of
                                                                activities like Gram Survey, Medical Check up Camps and Community Awareness programs in
                                                                the Village.</li>
                                                            <li>The students of the College participate in Inter College University Sports Events. The
                                                                Students of the College are selected in Sardar Patel University Team in Various Sports.
                                                            </li>
                                                            <li>In 2014 the Girls Table-Tennis and Volley ball Team became champions at University level
                                                                and the Boys Hand ball Team became Runners Up at University level .</li>
                                                            <li>In 2015 the Girls Table-Tennis and Volley ball Team became champions at University level
                                                                and the Boys Cricket Team became Runners Up at University level .</li>
                                                            <li>In 2016 Boys Kabaddi Team became Runners Up at University level.</li>
                                                            <li>In 2017 Kishan Ankoliya student of the college was selected as the Captain of the Sardar
                                                                Patel University Cricket Team.</li>
                                                            <li>The Students of the College also participate in the cultural activities organized by the
                                                                College and Youth Festival organized by the University and win prizes at the Youth
                                                                Festival.</li>
                                                            <li>In 2015 students of the college were selected to represent Sardar Patel University at
                                                                the 31st Inter University Yuvi West Fest West Zone organized by Association of Indian
                                                                Universities.</li>
                                                            <li>In 2017 students of the college participated in the National Competition in Dance and
                                                                Drama held at Solan,Himachal Pradesh Abhinay-2017 and they achieved First Position in
                                                                One Act Play, over All Best Performance, Best Director, Best Actor and Best Lighting.
                                                            </li>
                                                            <li>The College arranges Study Tours every year to give the students practical exposure.
                                                            </li>
                                                            <li>The College arranges Campus Interviews for the Final year students.</li>
                                                            <li>The Departments of the College every year arrange Guest lectures by experts from
                                                                Industry/Institutions/PG departments for Staff & Students.</li>
                                                            <li>The College felicitates the Students who excel in academics, sports,NCC & NSS .The
                                                                Annual day celebrations by giving the trophies & Medals and certificate of appreciation.
                                                            </li>
                                                            <li>The College felicitates the Staff members who publish research papers, books and are
                                                                awarded Ph.D. degree at the Annual Day celebrations by giving them Medals and
                                                                certificate of appreciation.</li>
                                                            <li>The College gives a cash prize of Rs.2500/- to the Department whose students awarded
                                                                Gold Medal at University Examination.</li>
                                                        </ul>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>